.header{
    display: flex;
    margin-top: 30px;

}

.left-container{
    width:600px;
    margin-left :50px;
}
.left-container h1{
    text-align: left;
    padding: 20px 0;
    font-size: 55px;
}
.button{
    text-align: left;
    margin-top: 20px;

}
.button button{
    padding: 5px 20px;
    background: rgb(158, 56, 222);
    border-radius: 10px;
    color:white;
}
p{
    width: 75%;
    text-align: left;
}
.right-container{
    width: 50%;
}
.right-container img{
    width: 70%;
}