
  .link {
    text-decoration: none;
    /* margin-left: 15px; */
    margin: 10px;
    font-size: 20px;
    color: #050606;
    transition: color ease-in-out 300ms;
  }
  
  .link:hover {
    color: #1b4388;
    background-color: rgb(62, 193, 134);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s;
  }
  
  .active-link {
    text-decoration: none;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: #1973cd;
  }